<h1>Home page</h1>
<div class="homepageDescription">
    <p>This is the term project for Group 50 with Rachel Luginbill,
        Jennifer Ho, and Conrad Lalk. Our project overview is to
        Build a database holding courses with terms, instructors, and departments 
        assigned to it that then students can register for, to give faculty better 
        resources when accessing student course information. </p>
</div>